@import 'libs/bootstrap-reboot.min';
@import 'libs/animate_v4.1';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Poppins:wght@400;500;700&display=swap');

@import 'base/variables';

*{
    font-family: 'Museo Sans Cyrl', sans-serif;
    margin: 0;
    padding: 0;
    button,
    button:active,
    button:focus  {
    border:none;
    }
}

body{
    background-color: #000;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
    position: relative;
}

@import 'blocks/sidepanel';
@import 'blocks/promo';
@import 'blocks/exercise';
@import 'blocks/training';
@import 'blocks/subscribe';
@import 'blocks/footer';
@import 'blocks/media';
@import 'blocks/menu';