@media(max-width: 1596px){
    .training{
        &__photo{
            flex-wrap: nowrap;
        }
    }
}

@media(max-width: 1537px){
    .sidepanel{
        display: none;
    }
    .promo{
        .homePage{
            display: block;
        }
    }
}

@media(max-width: 1439px){
    .exercise{
        padding-top: 100px;
    }

    .training{
        padding-top: 100px;
        &__personal{
            display: block;
            padding-top: 100px;
        }
        &__personal-img{
            img{
                max-width: none;
                width: 100%;
                height: 600px;
                opacity: .5;
            }
        }
        &__personal-description{
            position: absolute;
            top:100px;
            left:0px;
        }
        &__personal-item{
            top:100px;
            z-index: 10;
        }
    }

    .subscribe{
        padding-bottom: 50px;
    }

    .footer{
        padding-top: 50px;
        margin-bottom: 50px;
    }
}

@media(max-width: 1330px){
    .container{
        max-width: 1100px;
    }
}

@media(max-width: 1200px){
    .container{
        max-width: 950px;
    }
    .promo{
        &__title{
            margin-top: 150px;
            font-size: 50px;
        }
    }
    .exercise{
        padding-top: 70px;
        &__title{
            font-size: 40px;
        }
    }
    .training{
        padding-top: 70px;
        &__title{
            max-width: 100%;
            font-size: 2rem;
            line-height: 2.2rem;
        }
        &__photo{
            padding-top: 100px;
        }
        &__personal-specifications{
            max-width: 400px;
        }
    }
}

@media(max-width: 992px){
    .container{
        max-width: 720px;
    }
    .promo{
        &__header{
            justify-content: center;
        }
        &__header_nav{
            display: none;
        }
        .burger{
            span{
                display: block;
            }
        }
        &__scrollpanel{
            display: none;
        }
    }
    .exercise{
        &__photo{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
    }
    .training{
        &__plan{
            justify-content: start;
        }
        &__title{
            margin-right: 30px;
        }
        &__description{
            font-size:1rem;
        }
        &__personal-item{
            img{
                width: 290px;
                height: 200px;
            }
        }
        &__photo-specifications{
            font-size: 1rem;
        }
    }
    .subscribe{
        &__chest{
            img{
                width: 300px;
                height: 200px;
            }
        }
        &__title{
            font-size: 2rem;
        }
        &__description{
            font-size: 1rem;
        }
    }
    .footer{
        h3{
            font-size: 1.5rem;
        }
        p{
            font-size: 1rem;
        }
        ul{
            li{
                a{
                    font-size: 1rem;
                }
            }
        }
        &__copyright{
            p{
                margin-top: 50px;
            }
        }
    }
}

@media(max-width: 768px){
    .container{
        max-width: 528px;
    }
    .promo{
        &__title{
            margin:100px auto 0px auto;
            font-size: 40px;
            line-height: 55px;
            text-align: center;
            span{
                font-size: 40px;
                line-height: 55px;
            }
        }
    }
    .exercise{
        &__description{
            margin-left: 10px;
            margin-right: 10px;
        }
        &__photo{
            row-gap: 0px;
            a{
                margin-top: 30px;
            }
        }
    }
    .training{
        &__personal-item{
            position: static;
            display: flex;
            flex-direction: column;
            align-items:center;
            margin-top: 20px;
            img{
                width: 100%;
                height: auto;
                object-fit: fill;
            }
        }
        &__photo{
            flex-direction: column;
            align-items:stretch;
            padding-top: 0px;
            width: 100%;
            &-item{
                flex-grow: initial;
                margin: 20px 0px 0px 0px;
                &:nth-child(2){
                    margin: 20px 0px 0px 0px;
                }
                img{
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
    .footer{
        &__wrapper{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 50px;
        }
        &__rgym{
            grid-column:1/3;
            a{
                display: block;
                text-align: center;
            }
            p{
                max-width: none;
                text-indent: 1.5em;
            }
        }
        &__information{
            margin: 0px auto;
        }
        &__links{
            margin: 0px auto;
        }
        &__follow{
            grid-column:1/3;
            margin: 0px auto;
        }
        &__copyright{
            p{
                margin-top: 60px;
            }
        }
    }
}

@media(max-width: 639px){
    .exercise{
        &__item:nth-child(even){
            padding-top: 0px;
        }
    }
}

@media(max-width: 576px){
    .promo{
        .burger{
            top:45px;
        }
        &__video{
            margin: 50px auto 0px auto;
            justify-content: center;
        }
        &__title{
            font-size: 38px;
        }
        &__header_workingTime{
            svg{
                display: none;
            }
        }
        &__header_time{
            display: none;
        }  
    }
    .exercise{
        &__photo{
            margin-top: 70px;
        }
        &__description{
            max-width: 100%;
        }
    }
    .training{
        &__plan{
            padding:0px 10px;
            flex-direction: column;
        }
        &__personal{
            padding-top: 70px;
            &-description{
                margin:0px 10px;
            }
        }
        &__description{
            border-top: 2px solid #e74c3c;
            border-left: none;
            max-width: 100%;
            padding: 10px 10px 0px 0px;
            text-indent: 20px;
        }
        &__photo-specifications{
            max-width: 100%;
            padding: 0px 20px 0px 10px;
        }
    }
    .subscribe{
        &__chest{
            width: 100%;
            img{
                width: 100%;
                max-height: 320px;
            }
        }
        &__newsletter{
            padding-top: 300px;
        }
        &__title{
            text-align: center;
        }
        &__description{
            max-width: 100%;
            padding: 0px 10px;
        }
        &__email, &__submit{
            max-width: 99%;
            input{
                max-width: 100%;
            }
        }
    }
    .footer{
        &__wrapper{
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        &__rgym{
            p{
                text-align: center;
                padding: 0px 5px;
            }
        }
        &__links{
            margin-top: 30px;
        }
        &__follow{
            margin-top: 30px;
        }
    }
}
